.main {
    padding-top: 1vh;
}

.slider{
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.slider .buttons{
  width: 7%;
  padding: 0;
  border: 0;
  background: none;
  background: white;
  border-radius: 100%;
  padding: 5px
}
.slider .buttons:hover{
  cursor: pointer;
}

.slider .buttons.buttonLeft{
  transform: translateX(20px);
}
.slider .buttons.buttonRight{
  transform: translateX(-20px);
}

.big-card {
  display: flex;
  padding-top: 5vh;
  justify-content: space-around;
}

.big-card img{
    width: 300px;
    height: 100%;
}

.card {
  width: 200px;
  height: 300px;
  padding-right: 2px;
}

.card .card4 {
  padding-right: 0;
}

@media only screen and (min-width: 1100px) {
  .buttons {
    display: none;
  }
}
