<div class="main">
  <h1>Your Cheatsheet</h1>
  <p>code: {{code}} </p>
  <div class="buttons">
    <button mat-raised-button (click)="changeCard('b');">Back</button>
    <button mat-raised-button (click)="changeCard('f');">Next</button>
  </div>
</div>

<div class="slider" (window:resize)=updateScreenSize()>

  <span *ngFor="let item of cards; index as i">
    <img class="card card{{i}}" [ngStyle]="styleKeeper(i)" src={{cards[i]}}.png>
  </span>

</div>

<div class="big-card">
  <img src="../../assets/images/detailed/BigCard.JPG">
</div>

